<?xml version="1.0"?>
<!--
/**
 * Copyright © Ecostore, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="freegift" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>theiconnztab</tab>
            <label>Free Gift</label>
            <resource>Magento_Catalog::catalog</resource>
                <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="item" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gift Item SKU</label>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="noofitemincart" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Quantity allowed in cart</label>
                        <validate>validate-digits</validate>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="code" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Gift Item Code</label>
                        <comment><![CDATA[Gift item code]]></comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="message" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Message</label>
                        <comment><![CDATA[Short message that will add to cart item row]]></comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
            </section>
    </system>
</config>
